{% extends 'base.html' %}
{% load static %} 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block content %}
    <br>
    <div class="main-div" style="width: 100%; height: 500px; display: flex; position: relative;">
        <div class="form-div" style="width: 500px; position: absolute; left: 10px;">
        {% if sedt %}
        <center>
            <form action="{% url 'update' pk=sedt.id %}" method="post" class="form" style="width: 500px; 
            height: 350px; background-color: rgb(61, 58, 58); justify-content:baseline; padding: 20px; border-radius: 40px; color: white;">
            {% csrf_token %}
            <center><h1>Update Form</h1></center>
                Tittle:<input type="text" name="tittle" value="{{sedt.Tittle}}" class="input" style="border: 1px; padding-left: 5px; margin-left: 5px;
                border-color: black; border-radius: 40px;">
                <br>
                <br>
                Dec:<input type="text" name="dec" value="{{sedt.Dec}}" class="input" style="border: 1px; padding-left: 5px; margin-left: 5px;
                border-color: black; border-radius: 40px;">
                <br>
                <br>
                <input type="email" name="email" value="{{sedt.Email}}"  hidden class="input" style="border: 1px; padding-left: 5px; margin-left: 5px;
                border-color: black; border-radius: 40px;">
    
                <input type="password" name="password" value="{{sedt.Password}}" hidden class="input" style="border: 1px; padding-left: 5px; margin-left: 5px;
                border-color: black; border-radius: 40px;">
    
                <button type="submit" class="btn" style="border-radius: 50px;
                background-color: black; color: white; width: 90px; height: 40px;">Update</button>
                <br>
                <br>
            </form>
        </center>
        {% else %}

    <center>
        <form action="{% url 'query' %}" method="post"  class="form" style="width: 500px; 
            height: 350px; background-color:rgb(61, 58, 58); justify-content:baseline; padding: 20px; border-radius: 40px; color: white;">
            <h1> Query Form</h1>
            <br>
            {% csrf_token %}
            Tittle:<input type="text" name="tittle" class="input" style="border: 1px; padding-left: 5px; margin-left: 5px;
            border-color: black; border-radius: 40px;">
            <br>
            <br>
            Dec:<input type="text" name="dec" class="input" style="border: 1px; padding-left: 5px; margin-left: 5px;
            border-color: black; border-radius: 40px;">
            <br>
            <br>
            <input type="email" name="email" value="{{context.em}}"  hidden class="input" style="border: 1px; padding-left: 5px; margin-left: 5px;
            border-color: black; border-radius: 40px;">
            <br>
            <br>
            <input type="password" name="password" value="{{context.pass}}" hidden class="input" style="border: 1px; padding-left: 5px; margin-left: 5px;
            border-color: black; border-radius: 40px;"v>
            <br>
            <br>
            <input type="submit" value="query" class="btn" style="border-radius: 50px;
            background-color: black; color: white; width: 90px; height: 40px;">
            <br>
            <br>
        </form>
    </center>
    {% endif%}

    <br>
    <center>
        <form action="{% url 'showdata' %}" method="post">
        {%csrf_token%}
        <input type="email"  name='email' value="{{context.em}}" hidden>
        <input type="submit" value="showdata"  class="btn" style="border-radius: 30px;
        background-color: rgb(44, 5, 5); color: white; width: 90px; height: 40px;">
        </form>
    </center>
</div>

{% if key1 %}
<div class="table-container" style=" display: flex;
justify-content: center; margin: 10px; align-items: center; position: absolute;  right: 10px; width: 600px;">

<table border='1' style="width: 80%; border-collapse: collapse; border: 2px solid black;">
    <thead style="border: 1px solid #dddddd; text-align: left; padding: 8px;">
        <tr style="background-color: #f2f2f2;">
          <th style="background-color: #29322a; color: white;">Id</th>
          <th style="background-color: #29322a; color: white;">Email</th>
          <th style="background-color: #29322a; color: white;">Tittle</th>
          <th style="background-color: #29322a; color: white;">Query</th>
          <th style="background-color: #29322a; color: white;">Delete</th>
          <th style="background-color: #29322a; color: white;">Update</th>
        </tr>
    </thead>
    <tbody style="border: 1px solid black;">
        {% for i in key1 %}
        <tr style="border: 1px solid black;"> 
            <td style="border: 1px solid black;">{{i.id}}</td>
            <td style="border: 1px solid black;">{{i.Email}}</td>
            <td style="border: 1px solid black;">{{i.Tittle}}</td>
            <td style="border: 1px solid black;">{{i.Dec}}</td>
            <td style="border: 1px solid black;">
                <form  action="{% url 'delete' pk=i.id %}" method="post".>
                    {% csrf_token %}
                    <input type="text" name="email" value="{{i.Email}}" hidden>
                    <button type="submit" style="width: 60px; height: 30px; border-radius: 10px; background-color: black;color: white; border: none;">Delete</button>

                </form>
            </td>
            <td>
                <form  action="{% url 'edit' pk=i.id %}" method="post" name="editform">
                    {% csrf_token %}
                    <input type="text" name="email" value="{{i.Email}}" hidden>
                    <button type="submit" style="width: 60px; height: 30px; border-radius: 10px; background-color: black;color: white; border: none;"> Edit</button>

                </form>
            </td>
        {% endfor %}
        </tbody>
      </thead>
</table>
</div>
{% endif %}
</div>

{% endblock %}

</body>
</html>