{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block content %}
    {{key}}
  <form action="{% url 'registerdata' %}" method="post">
    {% csrf_token %}

    <h1> Register Here......</h1>
    Enter Name:<input type="text" name="name">
    <br>
    <br>
    Contact:<input type="text" name="contact">
    <br>
    <br>
    Email:<input type="email" name="email">
    <br>
    <br>
    Password:<input type="password" name="password">
    <br>
    <br>
    Confirm Password:<input type="password" name="cpassword">
    <br>
    <br>
    <input type="submit" name="submit">
</form>
    {% endblock %}
    
    
</body>
</html>